/* style body*/
body
{
    background-image: url('../img/Mark-Zuckerberg11.jpg');
    background-repeat: no-repeat;
    background-position:top;
    background-size:1300px 650px;;
    background-color:floralwhite;
}

/* style h1*/
h1
{
    max-width:1000px;
    padding: 5px 925px 5px 40px;
    font-family:sans-serif;
    font-weight:900;
    margin-left:-10px;
    margin-top:-10px;
    text-shadow: 3px 3px #6C8CBF;
    position: fixed; 
    background-color:black;
    color:#FFDCA2;
    opacity:0.7;
}



/*style h2*/
h2
{
    color:darkblue;
    margin-left:500px;
}

/*style p*/
span
{
    color:darkslateblue;
    margin-left:350px;
    max-width:600px;
    display: block;
    border:1px dotted blue;
    padding: 5px 40px;
    border-radius: 10px;
}

/*style img */
img[alt="Mark Zuckerberg"]
{
    width:600px;
    height:593.5px;
    margin-left:-10px;
    margin-bottom:-44px;
    margin-top:0px;
    float: left;
    margin-right:200px;
}

/* style h3*/
h3
{
    display:inline;
    margin-left:2px;
    margin-right: 50px;
    border:2px outset #394F6B;
    border-bottom:4px outset #090839;
    padding: 5px 50px;
    background-image:radial-gradient(#151755,#67D0DD);
    color: #F2F2C5;
}

/* style div*/
h4
{
   display: inline;
   color:gray;  
}

p
{
    display:inline-block;
    color:#3A32BF;
    margin-left:5px;
}

h5
{
    display:inline-block;
    max-width:600px;
    color:#138086;
    padding:7px 30px;
    margin:10px 5px;
    border:5px dotted #120C6E;
}

img[alt="Education"]
{
    width:410px;
    height:250px;
    margin-top: 5px;
    margin-right:30px;
    border:2px solid #240E8B;
    border-radius:10px;
    float: right;
}

img
{
    width:410px;
    height:200px;
    margin-left:-30px;
    margin-top:-5px;
    
}

hr
{
    border-color: cadetblue;
}

img[alt="MZ"]
{
    width:250px;
    height:250px;
    float:left;
    border-radius:700px;
    margin-left:30px;
}


img[alt="Facebook"]
{
    width:450px;
    height:280px;
    margin-right:30;
    margin-top:15px;
    border:2px solid #240E8B;
    border-radius:10px;
    float:right;
}

img[alt="IPO"]
{
    width:410px;
    height:175px;
    margin-left:30px;
    margin-top:10px;
    margin-right:40px;
    border:2px solid #240E8B;
    border-radius: 10px;
    float: left;
}

img[name="SMZ"]
{
    width:200px;
    height:200px;
    border-radius:60%;
    margin-left:90px;
    margin-right:90px;
}

img[name="SMZ"]:hover
{
    opacity:0.7;
}

img[name="WMZ"]
{
    width:200px;
    height:200px;
    border-radius:60%;
    margin-left:70px;
}

img[name="WMZ"]:hover
{
    opacity:0.7;
}

img[alt="college"]
{
    width:500px;
    height:280px;
    margin-left:10px;
    margin-top:20px;
    margin-right:20px;
    border:2px solid #240E8B;
    border-radius:10px;
    float:left;
}

img[alt="Donate"]
{
    width:530px;
    height:300px;
    margin-top:10px;
    margin-right:30px;
    border:2px solid #240E8B;
    border-radius:10px;
    float:right;
}

h7
{
    font-size:280%;
    padding: 7px 10px;
    color:#1F2F98;
    font-family:fantasy;
}

h8
{
    background-color: #2C6975;
    font-size:200%;
    color:#CDE0C9;
    margin-left:150px;
    padding: 7px 20px;
    border:2px groove #4A707A ;
    display: inline;
    font-family: monospace;
}

ul
{
    font-size:100%;
    max-width:400px;
    color:#758EB7;
    margin-left:110px;
    list-style: inside;
}

li
{
    border:1px solid #A8DEE0;
    padding:5px 20px;
    border-radius:10px;
}

h9
{
    background-color:#A5CAD2;
    font-size:200%;
    color:#6C8CBF;
    margin-left:265px;
    padding: 7px 20px;
    border:2px groove #4A707A ;
    font-style: oblique;
}

ol
{
    font-size:100%;
    max-width:600px;
    color:#308695;
    margin-left:250px;
    list-style: inside;
}


img[alt="WMZ"]
{
    width:670px;
    height:715px;
    margin-top: -10px;
    margin-right:-8px;
    margin-bottom:-40px;
    float: right;
}

h10
{
    font-size:170%;
    margin-left:15px;
    border:2px groove #0066CC;
    background-color: #009999;
    border-radius: 10px;
    color:#CCEAF0;
    padding: 5px 15px;
    font-style: oblique;
}

h11
{
    font-size: 130%;
    color:#787FF6;
    margin: 45px auto;
    max-width: 80px;
    margin-left:8px;
    font-family:serif;
    font-style: oblique;
}

h12
{
    background-color: grey;
    color: azure;
    padding: 10px 1080px 10px 80px;
    margin-left: -8px;
    margin-right: -50px;
}


.inf
{
    background-color:darksalmon;
    margin: auto -8PX;
}

img[alt="FB"]
{
    float: right;
    width: 600px;
    height: 350px;
    border:2px solid black;
}

h13
{
    color:#FF9190;
    margin-left:20px;
    max-width:40px;
    font-size:150%;
}

h6
{
    font-size:130%;
    color:#9F8189;
    margin-left: 20px;
    display: inline-block;
}

a
{
    text-decoration: none;
    background-color: #5874DC;
    padding: 5px 20px;
    color: white;
    margin-left: 60px;
}

input
{
    background-color: cornsilk;
    color:darkslategray;
    border: 1px black solid;
    border-radius: 20%;
    margin-left: 500px;
    padding: 5px 15px;
    margin-top: 30px;
}

input:hover
{
    background-color:inherit;
    color:firebrick;
    border: 1px brown solid;
}

