/* style background */
body
{
    background-image: url(../Img/North_Star_-_invitation_background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

div
{
    background-color: azure;
    border-radius:10px;
    max-width:500px;
    max-height:1100px;
    margin-top:1%;
    margin-left:35%;
    padding-bottom: 50px;
}
/* style p*/
p
{
    color:cornflowerblue;
    display: inline;
    font-family: fantasy;
    font-weight:bold;
    padding: 0px 60px;
}

span
{
    padding-left:25px;
}

h1
{
    color:#b1a69f;
    font-family:fantasy;
    font-style: italic;
    font-weight:bolder;
    margin-left:300px;
}

h2
{
    color:cadetblue;
    font-family:fantasy;
    font-size:bold;
    padding-left:30px;
}

h3
{
    color:darkblue;
    font-family:cursive;
    padding-left:35px;
}

h4
{
    display: inline;
    padding-left:20px;
    font-family:monospace;
    color:#843b62;
}

h5
{
    color:#4a4e69;
    padding-left:15px;
    font-style: oblique;
}
/* style input */
input
{
    background-color:inherit;
    margin-left:60px;
    border:0.2px solid #0b032d;
    border-right-style:hidden; 
    border-top-style:inherit;
    border-left-style:inherit;
    color:#7268A6;
}

input[type="submit"]
{
     background-color:inherit;
    border:0.5px solid #457B9D;
    border-radius:20px;
    margin-left:30%;
    margin-top:30px;
    padding:10px 62px;
    color:#2A9D8F;
}

input[type="submit"]:hover
{
    background-color:#FCDCDF;
    border-style:dashed;
    font-family: fantasy;
}

select
{
    border-radius:10px;
    padding:5px 10px;
    color:#83D9Dc;
    background-color: inherit;
}

select:hover
{
    border-style: dotted;
    border-color: darkmagenta;
    color:firebrick;
    font-family:monospace;
}

